*.aux
*.log
*.out
*.pdf
*.synctex*
*.toc
*.fdb_latexmk
*.fls
*.xdv
*.bib
*.bbl
*.blg
*.brf


document.tex
wheel_legged_control.tex
_minted-wheel_legged_control/043DE4AFBD5E387D640E392EC822A11EA00C989926012C06670A47646C24BC9F.pygtex
_minted-wheel_legged_control/default.pygstyle
